.modal-appear, .modal-enter{
  opacity: 0;
  transform: translateX(100%);
  z-index: 1;
}
.modal-appear-active, .modal-enter.modal-enter-active {
  opacity: 1;
  transition: all 300ms linear;
  transform: translateX(0);
}

.modal-exit {
  opacity: 1;
}

.modal-exit.modal-exit-active {
  opacity: 0;
  transform: translateX(100%);
  transition: all 300ms linear;
}