.SideBarUser {
  img {
    width: 100%;
    border: solid white 4px;
    border-radius: 50%;
  }
  p {
    padding: 0;
    margin: 0;
  }
  p:nth-child(1) {
    color: #ababad;
    margin-top: 10%;
  }
}